<div class="container-fluid text-black mt-5 text-center">
    <br>
    <h2>{{catServicio.catnombre}}</h2>
    <br>
    <p class="lh-sm"><b>Descripcion: </b>{{catServicio.catdetalle}}</p>
</div>
<div class="container-fluid text-black mt-5 text-center">
    <h2>Subcategorías</h2>

    <div class="container">
        <div class="row g-3">
            <div class="col-sm">
                <div class="text-start">
                    <button type="button" class="btn btn-color" aria-current="page"
                            routerLink="/dashboard/listacategoriaservicios"
                            style="background-color: #FD8900;border-radius: 20px; color: white">Regresar
                    </button>
                </div>

            </div>
            <div class="col-sm">
                <div class="text-end">
                    <button type="button" class="btn btn-color" data-bs-toggle="modal"
                            data-bs-target="#agregarsubcat" (click)="cleanModal()"
                            style="background: #5CCB4A; color: white; border-radius: 20px; width:220px">Agregar
                        Subcategoría
                    </button>
                </div>
            </div>

        </div>

        <br>
        <table class="table text-center table-striped table-hover">

            <thead style="background: #FFA084; color: white">
            <tr>
                <th class="text-center">Subcategoria</th>
                <th class="text-center">Detalle</th>
                <th class="text-center">Configuración</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subcategorias of subcatServicios">

                <td class="text-center">
                    <p class="fw-semibold">{{catServicio.catnombre}}</p>

                </td>

                <td>
                    <p class="lh-sm">Arreglo de prendas textiles de vestimenta para hombres y mujeres</p>
                </td>

                <td class="text-end">
                    <div class="btn-group ">
                        <button class="btn btn-color dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false"
                                style="background: #5CCB4A; color: white;">
                            Opciones
                        </button>
                        <ul class="dropdown-menu " style="border: none; background: none">

                            <button class=" dropdown-item " data-bs-toggle="modal"
                                    data-bs-target="#agregarcat" style="background: #FD8900; color: white;">Editar
                            </button>
                            <button class=" dropdown-item " data-bs-toggle="modal"
                                    data-bs-target="#agregarproducto" style="background: #00DA9D; color: white;">Detalles
                            </button>
                            <button class=" dropdown-item" style="background: #FF0F0F; color: white;">Eliminar</button>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="agregarsubcat" tabindex="-1" aria-labelledby="agregarsubcat" aria-hidden="true"
         style="margin-left: -12%;">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 150%">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Agregar Subcategoría </h1>
                    <button type="button" id="closeM1" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-control" #subcategoriaForm="ngForm">
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="nombresubcate">Nombre de la Subcategoría:</label>
                                <input type="text" class="form-control"
                                       id="nombresubcate" name="nombresubcate" required minlength="2" maxlength="70"
                                       [(ngModel)]="subcatServicio.subcatnombre" #nombresubcate="ngModel">
                                <div class="alert alert-danger"
                                     *ngIf="nombresubcate.invalid && (nombresubcate.dirty || nombresubcate.touched)">
                                    <div *ngIf="nombresubcate?.errors?.['required']">
                                        Digite el nombre de la subcategoría por favor
                                    </div>
                                    <div *ngIf="nombresubcate?.errors?.['minlength']">
                                        El nombre debe tener mínimo 2 caracteres
                                    </div>
                                    <div *ngIf="nombresubcate?.errors?.['maxlength']">
                                        El nombre debe tener máximo 70 caracteres
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row g-3">
                            <div class="col-sm">
                                <label for="subcatdescripcion">Descripción</label>
                                <textarea class="form-control" placeholder="Descripcion de la Subcategoría"
                                          id="subcatdescripcion" name="subcatdescripcion" required minlength="25"
                                          maxlength="70" [(ngModel)]="subcatServicio.subcatdetalle" #subcatdetalle=
                                                  "ngModel"></textarea>
                                <div class="alert alert-danger"
                                     *ngIf="subcatdetalle.invalid && (subcatdetalle.dirty || subcatdetalle.touched)">
                                    <div *ngIf="subcatdetalle?.errors?.['required']">
                                        Digite el detalle de la subcategoria
                                    </div>
                                    <div *ngIf="subcatdetalle?.errors?.['minlength']">
                                        El detalle debe tener mínimo 25 caracteres
                                    </div>
                                    <div *ngIf="subcatdetalle?.errors?.['maxlength']">
                                        El detalle debe tener máximo 70 caracteres
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="idcatemp" class="form-label">Categoría</label>
                                <select [(ngModel)]="subcatServicio.idcatser" name="idcatemp" id="idcatemp"
                                        class="form-control">

                                    <option *ngFor="let categorias of catServicios"
                                            [ngValue]="categorias">{{categorias.catnombre}}</option>

                                </select>
                            </div>
                        </div>
                        <br>

                        <div class="d-grid gap-2 col-3 mx-auto">
                            <button class="btn btn-success" type="submit" [disabled]="!subcategoriaForm.form.valid"
                                    (click)="agregarSubcategoria()">Agregar
                            </button>
                            <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>


</div>


<!-- Modal editar -->
<div class="modal fade" id="editarcat" tabindex="-1" aria-labelledby="editarcat" aria-hidden="true"
     style="margin-left: -12%;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%">
            <div class="modal-header">
                <h1 class="modal-title">Editar Subcategoria</h1>
                <button type="button" id="closeM2" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control" ngNavigateValidate #categoriaeditForm="ngForm">
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="nombrecateedit">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre de la Categoría "
                                   id="nombrecateedit" name="nombrecateedit" required minlength="2" maxlength="70"
                                   [(ngModel)]="catServicio.catnombre" #nombrecateedit="ngModel">
                            <div class="alert alert-danger"
                                 *ngIf="nombrecateedit.invalid && (nombrecateedit.dirty || nombrecateedit.touched)">
                                <div *ngIf="nombrecateedit?.errors?.['required']">
                                    Digite el nombre de la subcategoría
                                </div>
                                <div *ngIf="nombrecateedit?.errors?.['minlength']">
                                    El nombre debe tener mínimo 2 caracteres
                                </div>
                                <div *ngIf="nombrecateedit?.errors?.['maxlength']">
                                    El nombre debe tener máximo 70 caracteres
                                </div>

                            </div>
                        </div>


                    </div>
                    <br>
                    <div class="row g-3">

                        <div class="col-sm">
                            <label for="descripcionedit">Descripción</label>
                            <textarea class="form-control" placeholder="Descripcion de la Categoría"
                                      id="descripcionedit"
                                      name="descripcionedit" required minlength="25" maxlength="70"
                                      [(ngModel)]="catServicio.catdetalle" #descripcionedit="ngModel"></textarea>
                            <div class="alert alert-danger"
                                 *ngIf="descripcionedit.invalid && (descripcionedit.dirty || descripcionedit.touched)">
                                <div *ngIf="descripcionedit?.errors?.['required']">
                                    Digite el detalle de la subcategoria
                                </div>
                                <div *ngIf="descripcionedit?.errors?.['minlength']">
                                    El detalle debe tener mínimo 25 caracteres
                                </div>
                                <div *ngIf="descripcionedit?.errors?.['maxlength']">
                                    El detalle debe tener máximo 70 caracteres
                                </div>

                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button class="btn btn-success" type="button" (click)="actualizarCategoria()"
                                [disabled]="!categoriaeditForm.form.valid">Agregar
                        </button>
                        <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
