<body>
<br>
<h2 class="text-center">Lista de Servicios</h2>
<br>

<div class="container">
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarproducto">Agregar
            Servicio
        </button>
    </div>
    <br>
    <table class="table table-hover">

        <thead class="table-dark">
        <tr>
            <th></th>
            <th class="text-center">Producto</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">Descripción</th>
            <th class="text-center">Configuración</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style=" width:150px">
                <a data-fancybox>
                    <img alt="" class="img-thumbnail w-100"/></a>
            </td>

            <td class="text-center">
                <div class="fs-5 fw-bold">Arreglo de chasis</div>
                <p class="text-muted small">$12,99</p>
            </td>
            <td class="text-center">
                <div>
                    <span class="badge rounded-pill bg-ligth text-dark me-1">Automotriz</span>

                </div>
                <span class="badge rounded-pill bg-ligth text-dark me-1">Reparacion</span>

            </td>
            <td>
                <p>El chasis es el principal elemento de la estructura de un vehículo si se daña se jodió</p>
            </td>

            <td class="text-end">
                <button style="width:75%" type="button" class="btn btn-info" data-bs-toggle="modal"
                        data-bs-target="#agregarproducto">Editar
                </button>
                <button style="width:75%" class="btn btn-danger ms-3">Eliminar</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<!-- Modal -->
<div class="modal fade" id="agregarproducto" tabindex="-1" aria-labelledby="agregarproducto" aria-hidden="true"
     style="margin-left: -12%;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar Servicio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control" #productoForm>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="nombreservicio">Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre del Servicio "
                                   id="nombreservicio" name="nombreservicio" required minlength="2" maxlength="25">
                        </div>
                        <div class="col-sm">
                            <label for="duracion">Duracion</label>
                            <input type="text" class="form-control" placeholder="Duracion del Servicio" id="duracion"
                                   name="duracion" required maxlength="10">
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="precio">Precio</label>
                            <input type="number" class="form-control" placeholder="0,00" id="precio" name="precio"
                                   required>
                        </div>
                        <div class="col-sm">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" placeholder="Descripcion del Servicio" id="descripcion"
                                      name="descripcion" required minlength="25" maxlength="500"></textarea>
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="categoria" class="form-label">Categoría </label>
                                <select id="categoria" class="form-control" disabled>
                                    <option>Automotríz</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="subcategoria" class="form-label">Subcategoría </label>
                                <select id="subcategoria" class="form-control">
                                    <option>Reparación</option>
                                    <option>Pintura</option>
                                    <option>Tunear</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="url">Link de la imagen</label>
                            <input type="url" class="form-control" placeholder="URL" id="url" name="url" required>
                        </div>
                    </div>

                    <br>
                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button class="btn btn-success">Agregar Servicio</button>
                        <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
