<div class="container-fluid text-black mt-5 text-center">
    <h1 class="text-center">Lista de Servicios</h1>
</div>


<div class="container">
    <div class="d-flex mt-3 mx-3 justify-content-end">
        <button type="button" class="btn btn-color" data-bs-toggle="modal" data-bs-target="#agregarproducto"
                style="background: #5CCB4A; color: white; border-radius: 20px; width:
     200px">Agregar Servicio
        </button>
    </div>
    <br>
    <table class="table mt-3 table-hover table-striped">

        <thead style="background: #FFA084; color: white">
        <tr>
            <th></th>
            <th scope="col" class="text-center">Producto</th>
            <th scope="col" class="text-center">Categoria</th>
            <th scope="col" class="text-center">Descripción</th>
            <th scope="col" class="text-center">Configuración</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center" style=" width:150px">
                <a data-fancybox>
                    <img alt="" class="img-thumbnail w-100"/></a>
            </td>

            <td class="text-center">
                <div class="fs-5 fw-bold">Arreglo de chasis</div>
                <p class="text-muted small">$12,99</p>
            </td>
            <td class="text-center">
                <div>
                    <span class="badge rounded-pill bg-ligth text-dark me-1">Automotriz</span>

                </div>
                <span class="badge rounded-pill bg-ligth text-dark me-1">Reparacion</span>

            </td>
            <td class="text-center">
                <p>El chasis es el principal elemento de la estructura de un vehículo si se daña se jodió</p>
            </td>

            <td class="text-center">
                <div class="btn-group ">
                    <button class="btn btn-color dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false" style="background: #5CCB4A; color: white;">
                        Opciones
                    </button>
                    <ul class="dropdown-menu btn-color" style="border: none; background: none">
                        <button class="btn-color dropdown-item" data-bs-toggle="modal"
                                data-bs-target="#agregarproducto"
                                style="background: #FD8900; color: white;">Editar
                        </button>
                        <button class="btn-color dropdown-item "
                                style="background: #FF0F0F; color: white;">Eliminar
                        </button>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<!-- Modal -->
<div class="modal fade" id="agregarproducto" tabindex="-1" aria-labelledby="agregarproducto" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
            <div class="modal-header align-items-center" style="background: #42A133; color: white">
                <h1 class="modal-title fs-5">Agregar Servicio</h1>
                <button type="button" class="btn-close bg-light text-bg-light" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control" #productoForm style="border: none">
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="nombreservicio">Nombre del Servicio:</label>
                            <input type="text" class="form-control"
                                   style="background: #D9D9D9;border-radius: 0px;"
                                   id="nombreservicio" name="nombreservicio" required minlength="2" maxlength="25">
                        </div>
                        <div class="col-sm">
                            <label for="duracion">Duracion del Servicio:</label>
                            <input type="text" class="form-control" id="duracion"
                                   style="background: #D9D9D9;border-radius: 0px;"
                                   name="duracion" required maxlength="10">
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="precio">Precio:</label>
                            <input type="number" class="form-control" placeholder="0,00" id="precio" name="precio"
                                   style="background: #D9D9D9;border-radius: 0px;" required>
                        </div>
                        <div class="col-sm">
                            <label for="descripcion">Descripción del Servicio:</label>
                            <textarea class="form-control" id="descripcion"
                                      style="background: #D9D9D9;border-radius: 0px;" name="descripcion" required
                                      minlength="25" maxlength="500"></textarea>
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="categoria" class="form-label">Categoría:</label>
                                <select id="categoria" class="form-control" disabled style="background: #D9D9D9;border-radius: 0px;">
                                    <option>Automotríz</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="subcategoria" class="form-label">Subcategoría: </label>
                                <select id="subcategoria" class="form-control" style="background: #D9D9D9;border-radius: 0px;">
                                    <option>Reparación</option>
                                    <option>Pintura</option>
                                    <option>Tunear</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="url">Link de la imagen:</label>
                            <input type="url" class="form-control" placeholder="URL" id="url" name="url" required
                                   style="background: #D9D9D9;border-radius: 0px;">
                        </div>
                    </div>
                    <br>
                    <div class="container text-center">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <button class="btn btn-color"  style="background: #42A133; color: white">Agregar Servicio</button>
                            </div>
                            <div class="col-4">
                                <button class="btn btn-color" type="button" data-bs-dismiss="modal" style="background:
                                #FF0000; color: white">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


