<nav class="navbar navbar-expand-lg align-content-between ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/Logo.png" style="width: 80px">
      <img src="assets/images/Logo2.png"  style="width: 80px">
    </a>
  <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> --> 
    <div class="navbar">
      <div class="collapse navbar-collapse align-content-center" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item ">
            <a class="nav-link active text-white" aria-current="page" routerLink="/dashboard/inicio">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Categoria</a></li>
              <li><a class="dropdown-item" href="#">Subcategoria</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Categoria</a></li>
              <li><a class="dropdown-item" href="#">Subcategoria</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Empresa
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Categoria</a></li>
              <li><a class="dropdown-item" href="#">Subcategoria</a></li>
              <li><a class="dropdown-item" href="#">Solicitud</a></li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
    <div>

      <img class="btn btn-outline-dark" src="assets/images/Logo.png" style="width: 70px">
    </div>
  </div>
</nav>
