<div class="container-fluid text-black mt-5 text-center">
    <h2>
        INGRESO SOLICITUD DE REGISTRO
    </h2>
</div>

<div class="container">
    <br>
    <form class="form-control" #datosSolicitud="ngForm">
        <br>
        <div class="row g-3">
            <div class="col-sm">
                <label for="usuario" class="form-label">ID usuario:</label>
                <select [(ngModel)]="solicitudes.usu_id" name="usuario" required id="usuario" class="form-control"
                    #usu_id="ngModel">

                    <option *ngFor="let usuarios of usuario" [ngValue]="usuarios">
                        {{usuarios.usu_id}}</option>

                </select>
                <div class="alert alert-danger" *ngIf="usu_id.invalid && (usu_id.dirty || usu_id.touched)">
                    <div *ngIf="usu_id?.errors?.['required']">
                        Ingrese el usuario a asignar en la solicitud por favor
                    </div>
                </div>

            </div>
            <br>
            <div class="col-sm">
                <label for="idempresa" class="form-label">ID empresa:</label>
                <select [(ngModel)]="solicitudes.idempresa" name="idempresa" required id="idempresa"
                    class="form-control" #idempresa="ngModel">

                    <option *ngFor="let empresas of empresa" [ngValue]="empresas">{{empresas.idempresa}}</option>
                </select>
                <div class="alert alert-danger" *ngIf="idempresa.invalid && (idempresa.dirty || idempresa.touched)">
                    <div *ngIf="idempresa?.errors?.['required']">
                        Ingrese la empresa a asignar en la solicitud por favor
                    </div>
                </div>
            </div>
            <br>
            <div class="col-sm">
                <label for="fecha" class="form-label">Fecha Solicitud:</label>
                <input type="date" class="form-control" id="fecha" name="fecha" required
                    [(ngModel)]="solicitudes.sol_fecharegistro" #fecha="ngModel">
                <div class="alert alert-danger" *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)">
                    <div *ngIf="fecha?.errors?.['required']">
                        Ingrese la fecha por favor
                    </div>
                </div>

            </div>
            <br>
            <div class="col-sm">
                <label for="sol_estado" class="form-label">Estado:</label>
                <select [(ngModel)]="solicitudes.sol_estado" name="sol_estado" required id="sol_estado" class="form-control" #estado="ngModel">

                    <option>Activo</option>
                    <option>Pendiente</option>
                    <option>Rechazado</option>

                </select>

                <div class="alert alert-danger" *ngIf="estado.invalid && (estado.dirty || estado.touched)">
                    <div *ngIf="estado?.errors?.['required']">
                        Ingrese el estado por favor
                    </div>
                </div>

            </div>
            <br>
            <div class="col-sm">
                <label for="detalle" class="form-label">Detalle Estado:</label>
                <input type="text" class="form-control" id="detalle" name="detalle" required minlength="3" maxlength="15"
                    [(ngModel)]="solicitudes.sol_detalleestado" #detalle="ngModel">
                <div class="alert alert-danger" *ngIf="detalle.invalid && (detalle.dirty || detalle.touched)">
                    <div *ngIf="detalle?.errors?.['required']">
                        Escriba el detalle por favor
                    </div>
                    <div *ngIf="detalle?.errors?.['minlength']">
                        El detalle debe tener mínimo 3 caracteres
                    </div>
                    <div *ngIf="detalle?.errors?.['maxlength']">
                        El detalle debe tener máximo 15 caracteres
                    </div>

                </div>
            </div>
        </div>
        <br>

        <br>
        <div class="mx-2 text-center ">
            <button class="btn btn-success col-md-4" type="submit"
                [disabled]="!datosSolicitud.form.valid" (click)="agregarSolicitud()">Guardar</button>
        </div>
        <br>
    </form>
</div>