<br>
<h2 class="text-center">SOLICITUD DE REGISTROS</h2>
<br>

<div class="container">

    <br>

    <table class="table mt-3 table-hover table-striped" style="border-style: solid">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">RUC</th>
                <th class="text-center">Empresa</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Observacion</th>
                <th class="text-center">Detalle</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let solicitud of solicitudes">
                <th scope="row">{{solicitud.idsolicitud}}</th>
                <td></td>
                <td></td>
                <td>{{solicitud.sol_estado}}</td>
                <td></td>

                <td style="text-align: center">
                    <button type="button" class="btn btn-info me-2" data-bs-toggle="modal"
                        data-bs-target="#detallesolicitud">Detalle</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal para detalle de solicitud -->
<div class="modal fade" id="detallesolicitud" tabindex="-1" aria-labelledby="agregar" aria-hidden="true"
    style="margin-left: -12%;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 150%">
            <div class="modal-header">
                <h1 class="modal-title fs-5">DETALLE DE SOLICITUD DE REGISTRO</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control">
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="ruc">RUC:</label>
                            <input type="number" class="form-control" placeholder="" id="ruc" name="ruc" required
                                minlength="2" maxlength="25">
                        </div>
                        <div class="col-sm">
                            <label for="fecha">Fecha:</label>
                            <input type="date" class="form-control" placeholder="" id="fecha" name="fecha" required
                                minlength="10" maxlength="10">
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="rlegal">Representante Legal:</label>
                            <input type="text" class="form-control" placeholder="Nombre del Representante" id="rlegal"
                                name="rlegal">
                        </div>
                        <div class="col-sm">
                            <label for="email">Correo:</label>
                            <input type="mail" class="form-control" id="email" placeholder="ejemplo@correo.com"
                                name="email">
                        </div>
                    </div>

                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="comercial">Nombre Comercial:</label>
                            <input type="text" class="form-control" placeholder="Empresa XYZ" id="comercial"
                                name="comercial">
                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="categoria">Categoría:</label>
                                <select id="categoria" class="form-control">
                                    <option>Automotríz</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="social">Razon Social:</label>
                            <input type="text" class="form-control" placeholder="" id="social" name="social">
                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="subcategoria">Subcategoría </label>
                                <select id="subcategoria" class="form-control">
                                    <option>Mecánica</option>
                                    <option>Latonería</option>
                                    <option>Comercio</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="telefono">Telefono: </label>
                            <input type="number" class="form-control" id="telefono" name="telefono">
                        </div>
                        <div class="col-sm">
                            <label for="direccion">Direccion:</label>
                            <input type="text" class="form-control" id="direccion" name="direccion">
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="trabajadores">N Trabajadores:</label>
                            <input type="text" class="form-control" id="trabajadores" name="trabajadores">
                        </div>
                        <div class="col-sm">
                            <label for="mensual">Ingreso Mensual:</label>
                            <input type="number" class="form-control" id="mensual" name="mensual">
                        </div>
                    </div>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="ciudad">Ciudad:</label>
                            <input type="text" class="form-control" id="ciudad" name="ciudad">
                        </div>
                        <div class="col-sm">
                            <label for="estado">Estado:</label>
                            <select id="estado" class="form-control">
                                <option>En proceso</option>
                                <option>Desactivado</option>
                            </select>
                        </div>
                    </div>

                    <br>
                    <div class="col-sm">
                        <label for="ciudad">Observaciones:</label>
                        <input style="max-height: +20%" type="text" class="form-control" id="ciudad" name="ciudad">
                    </div>
                    <br>
                    <div class="mx-2 text-center ">
                        <button class="btn btn-success col-md-4">Aprobado</button>
                        <button class="btn btn-danger col-md-4 offset-md-1" type="button"
                            data-bs-dismiss="modal">Denegado</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>