<br>

<h3 style="text-align: center">
    <strong>
        INGRESO DATOS DE EMPRESA
    </strong>
</h3>

<br>

<div class="container">
    <br>
    <form class="form-control">
        <br><strong>DATOS GENERALES ——————————————————————————————————————————————————————————</strong>
        <br>
        <br>
        <div class="row g-3">
            <div class="col-sm">
                <label for="ruc">RUC:</label>
                <input type="number" class="form-control" placeholder="" id="ruc" name="ruc" [(ngModel)]="empresaNueva.empruc">
            </div>
            <div class="col-sm">
                <label for="comercial">Nombre Comercial:</label>
                <input type="text" class="form-control" placeholder="Empresa XYZ" id="comercial" name="comercial" [(ngModel)]="empresaNueva.empnombre">
            </div>
        </div>

        <div class="row g-3">
            <div class="col-sm">
                <label for="rlegal">Representante Legal:</label>
                <input type="text" class="form-control" placeholder="Nombre del Representante" id="rlegal"
                    name="rlegal" [(ngModel)]="empresaNueva.emprepresentante">
            </div>
            <div class="col-sm">
                <label for="email">Correo:</label>
                <input type="mail" class="form-control" id="email" placeholder="ejemplo@correo.com" name="email" [(ngModel)]="empresaNueva.empcorreo">
            </div>
        </div>

        <div class="row g-3">
        </div>
        <br>
        <div class="row g-3">
            <div class="col-sm">
                <label for="social">Razon Social:</label>
                <input type="text" class="form-control" placeholder="" id="social" name="social" [(ngModel)]="empresaNueva.emprazon">
            </div>
            <div class="col-sm">
                <label for="direccion">Direccion:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="empresaNueva.empdireccion">
            </div>
        </div>
        <div class="row g-3">
            <div class="col-sm">
                <label for="telefono">Telefono: </label>
                <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="empresaNueva.emptelefono">
            </div>
            <div class="col-sm">
                <label for="ingreso">Ingreso anual: </label>
                <input type="number" class="form-control" id="ingreso" name="ingreso" [(ngModel)]="empresaNueva.empingresoanual">
            </div>

        </div>

        <div class="row g-3">
            <div class="col-sm">
                <label for="telefono">N° Trabajadores:</label>
                <input type="number" class="form-control" id="telefono" name="telefono" [(ngModel)]="empresaNueva.empnumtrabajadores">
            </div>
            <div class="col-sm">
                <label for="ciudad">Ciudad:</label>
                <input type="text" class="form-control" id="ciudad" name="ciudad" [(ngModel)]="empresaNueva.empciudad">
            </div>
        </div>
        <div class="row g-3">

            <div class="col-sm">
                <label for="estado">Usu ID:</label>
                <input type="text" class="form-control" id="estado" name="estado" [(ngModel)]="empresaNueva.usu_id">
            </div>
            <div class="col-sm">
                <label for="estado">Estado:</label>
                <input type="text" class="form-control" id="estado" name="estado">
            </div>
        </div>

        <br>

        <!-- acordeón -->
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Categorizar
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="form-group">
                            <label for="inputEmail3">Categoría:</label>
                            <div class="col-sm-10">
                                <select id="inputState" class="form-control">
                                    <option selected>Sin asignar...</option>
                                    <option>Cat1</option>
                                    <option>Cat2</option>
                                    <option>Cat3</option>
                                </select>
                            </div>
                        </div>

                        <br>

                        <div class="form-group">
                            <label for="inputEmail3">Subcategoría:</label>
                            <div class="col-sm-10">
                                <select id="inputState" class="form-control">
                                    <option selected>Sin asignar...</option>
                                    <option>Sub1</option>
                                    <option>Sub2</option>
                                    <option>Sub2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <div class="mx-2 text-center ">
            <button class="btn btn-success col-md-4" type="submit" (click)="agregarEmpresa()">Guardar</button>
        </div>
        <br>
    </form>
</div>

<!-- Modal insservible pero lo dejo por si acaso
<div class="modal fade" id="llenarsolicitud" tabindex="-1" aria-labelledby="agregar" aria-hidden="true"
    style="margin-left: -8%;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 136.5%">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Llenar datos de solicitud</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="form-control">
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="ruc">RUC</label>
                            <input type="text" class="form-control" placeholder="" id="ruc" name="ruc">
                        </div>
                        <div class="col-sm">
                            <label for="representante">Representante legal</label>
                            <input type="text" class="form-control" placeholder="" id="representante"
                                name="representante">
                        </div>
                    </div>
                    <br>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="razon">Razón Social</label>
                            <input type="text" class="form-control" placeholder="" id="razon" name="razon">
                        </div>
                        <div class="col-sm">
                            <label for="telefono">Teléfono</label>
                            <input type="text" class="form-control" placeholder="" id="telefono" name="telefono">
                        </div>

                    </div>
                    <br>
                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="direccion">Dirección</label>
                            <input type="text" class="form-control" placeholder="" id="direccion" name="direccion">
                            <br>
                        </div>
                        <div class="col-sm">
                            <label for="nomcomercial">Nombre Comercial</label>
                            <input type="text" class="form-control" placeholder="" id="nomcomercial"
                                name="nomcomercial">
                        </div>

                    </div>

                    <div class="row g-3">
                        <div class="col-sm">
                            <label for="correo">Correo</label>
                            <input type="text" class="form-control" placeholder="" id="correo" name="correo" required>
                        </div>
                        <div class="col-sm">
                            <div class="form-grow">
                                <label for="estado" class="form-label">Estado</label>
                                <select id="estado" class="form-control">
                                    <option>Activo</option>
                                    <option>Rechazado</option>
                                    <option>Pendiente</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row g-3">
                        <div class="d-grid gap-2 col-5  mx-auto">
                            <button class="btn btn-success">Guardar</button>
                        </div>
                        <div class="d-grid gap-2 col-5 mx-auto">
                            <button class="btn btn-danger" type="button" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->